*{
    margin: 0;
    padding: 0;
    font-family: "Syne Mono", serif;
    font-weight: 600;
    font-style: normal;
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: bgChange 60s infinite; 
}

@keyframes bgChange {
    0%   { background-image: url('Images/Cover1.jpg'); }
    16%  { background-image: url('Images/Cover2.jpg'); }
    32%  { background-image: url('Images/Cover3.jpg'); }
    48%  { background-image: url('Images/Cover4.jpg'); }
    64%  { background-image: url('Images/Cover5.jpg'); }
    80%  { background-image: url('Images/Cover6.jpg'); }
    100% { background-image: url('Images/Cover7.jpg'); } 
}


.mydiv{
   height: 500px;
   width: 500px;
   margin: 70px auto;
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.5);
   border: black;
   box-shadow: 5px 5px 5px black;
}


.ramazanheading{
    /* background-color: blue; */
    color: white;
    font-size: 1.5rem;
    
}


@media only screen and (max-width: 768px){
    body {
        min-height: 100vh;
        width: 100%;
    }
    
    
    .mydiv{
       height: 100%;
       width: 100%;
       margin: 50px auto;
    }

    
    .ramazanheading{
        /* background-color: blue; */
        color: white;
        font-size: 1rem;
    }
    
    
}
